<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationBarScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5A552FD1F4BC2B00033FA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A553111F4BC2B00033FA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5A5531C1F4BC2B00033FA20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
